* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

.buttons {
    position: fixed;
    z-index: 9999999;
    bottom: 16px;
    right: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;

    @media screen and (max-width: 479px) {
        width: 100%;
        left: 0;
        right: 0;
        bottom: 0;
        flex-direction: row;
        justify-content: space-around;
        background-color: #fff;
        padding: 6px;
    }
}

.btn {
    font-size: 9px;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    padding: 4px 8px;
    border: 0;

    &::before {
        content: "";
        width: 20px;
        height: 20px;
        display: block;
        margin: 2px auto;
        background-position: center;
        background-size: contain;
    }

    &-share {
        background-color: #c3c3c3;
        &::before {
            background-image: url("../img/icons/share-icon.svg");
        }
    }

    &-chat {
        background-color: #71e7b1;
        &::before {
            background-image: url("../img/icons/chat-icon.svg");
        }
    }

    &-group-create {
        background-color: #ebea22;
        &::before {
            background-image: url("../img/icons/create-group-icon.svg");
        }
    }
    &-group-left {
        background-color: #ff5656;
        &::before {
            background-image: url("../img/icons/left-group-icon.svg");
        }
    }
    &-send-msg {
        background: transparent;
        &::before {
            background-image: url("../img/icons/send-msg-icon.svg");
        }
    }
    &-mobile-map {
        background-color: #aae8ff;

        &::before {
            background-image: url("../img/icons/map-icon.svg");
        }

        @media screen and (min-width: 480px) {
            display: none;
        }
    }

    &-badge {
        position: absolute;
        width: 20px;
        height: 20px;
        display: flex;
        left: -10px;
        top: -10px;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        border-radius: 100%;

        &-error {
            background-color: red;
            color: #fff;
        }
    }
}

.msg-content {
    z-index: 9999;
    position: absolute;
    left: -300px;
    top: 0;
    height: 100%;
    background-color: #f5f5f5;
    width: 280px;
    transition: all 0.2s linear;
    padding: 20px;
    box-shadow: 0 0 10px #000000c9;
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;

    @media screen and (max-width: 479px) {
        height: calc(100vh - 44px);
        transition: 0;
        width: 100%;
        left: -100%;
    }

    &.active {
        left: 0;
    }

    &-list {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        gap: 10px;

        li {
            background-color: #fbfbfb;
            padding: 8px;
            display: flex;
            flex-direction: column-reverse;
            border-radius: 8px;
            font-size: 14px;
            animation: new-msg 2s linear;
            color: #2e2e2e;

            small {
                font-size: 10px;
                margin-left: auto;
                padding: 4px;
                background: #36b368;
                color: #fff;
                border-radius: 4px;
            }
        }
    }

    .msg-sender {
        display: flex;
        width: 100%;
        background: #fff;
        padding: 5px;
        border-radius: 100px;

        input {
            flex: auto;
            border: 0;
            outline: 0;
            padding-left: 8px;
        }
    }

    &-close {
        position: absolute;
        right: -16px;
        width: 32px;
        height: 32px;
        border-radius: 100%;
        border: 0;
        background: #ff7070;
        color: #fff;
        top: 20px;
        font-weight: 600;
        font-size: 20px;
        padding-bottom: 3px;
        cursor: pointer;

        @media screen and (max-width: 479px) {
            display: none;
        }
    }
}

.url-copy {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;
    border: 0 !important;
    padding: 0;
    margin: 0;
}

@keyframes new-msg {
    from {
        opacity: 0.2;
        background-color: #bcf5e5;
    }
    to {
        opacity: 1;
    }
}

.mobile-toastr {
    @media screen and (max-width: 479px) {
        position: absolute;
        left: 6px;
        width: calc(100% - 12px);
        top: 6px;
    }
}
